{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_row(form.plainPassword.first,{ 'attr': {'class': "input", 'placeholder': 'form.new_password'|trans}, 'label':false }) }}
    {{ form_row(form.plainPassword.second,{ 'attr': {'class': "input", 'placeholder': 'form.new_password_confirmation'|trans}, 'label':false }) }}
    <div>
        <input  class="main-btn" type="submit" value="{{ 'resetting.reset.submit'|trans }}" style="margin-top: 20px; width: 100%"/>
    </div>
{{ form_end(form) }}
